#lb-gmaps-metabox {
    width: 100%;
    height: 800px;
    margin-top: 20px;
    overflow: hidden;
}

#lb-gmaps-fields {
    width: 45%;
    height: 90%;
    float: left;
    overflow-y: scroll;
    overflow-x: hidden;
}

#lb-gmaps-fields::-webkit-scrollbar,
#lb-gmaps-fields #lb-gmaps-map-types::-webkit-scrollbar {
    display: none;
}

.lb-gmaps-form-group {
    margin: 20px 0;
}

#lb-gmaps-marker-dialog,
#lb-gmaps-marker-form {
    z-index: 999;
    padding: 5px;
    border: 3px solid #417DF1;
    background-color: #FFC107;
    color: #FFF;
    font-size: 16px;
    right: 15%;
    width: 20%;
    position: absolute;
    border-radius: 10%;
    height: 15%;
    text-align: center;
}

#lb-gmaps-marker-form {
    width: 30%;
    height: 29%;
    right: 10%;
}

#lb-gmaps-marker-form .marker-error {
    color: red;
}

#lb-gmaps-marker-form button:disabled:hover {
    cursor: not-allowed !important;
}

.lb-gmaps-form-group select {
    width: 35%;
}

.lb-gmaps-form-group label.map-controls {
    display: inline-block;
    width: 20%;
}

.lb-gmaps-marker-form-group input,
.lb-gmaps-marker-form-group textarea,
.lb-gmaps-form-group input:not([type=checkbox]) {
    width: 95%;
    resize: none;
}

#lb-gmaps-marker-dialog .buttons-group,
#lb-gmaps-marker-form .buttons-group{
    position: absolute;
    bottom: 5px;
    width: 95%;
}

#lb-gmaps-marker-dialog button,
#lb-gmaps-marker-form button{
    background-color: #417DF1;
    color: #FFF;
    border: 1px solid #417DF1;
    border-radius: 40%;
}

#lb-gmaps-marker-dialog .buttons-group button:hover,
#lb-gmaps-marker-form .buttons-group button:hover{
    cursor: pointer;
}

#lb-gmaps-marker-dialog #yes {
    float: left;
}

#lb-gmaps-marker-dialog #no {
    float: right;
}

#lb-gmaps-fields .lb-gmaps-form-group select,
#lb-gmaps-fields .lb-gmaps-form-group select option,
#lb-gmaps-fields .lb-gmaps-form-group input {
    border-radius: 15px;
}
#lb-gmaps-fields .lb-gmaps-form-group input[type=text] {
    width: 75%;
}

#lb-gmaps-live-preview {
    width: 55%;
    margin: 0;
    padding: 0;
    max-width: none;
    height: 90%;
    float: right;
}

#lb-gmaps-live-preview .gm-style-iw {
    width: calc( 100% + 15px ) !important;
    top: 15px !important;
    left: 0 !important;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
    border: 1px solid #417DF1;
    border-radius: 2px 2px 10px 10px;
}

#lb-gmaps-live-preview .gm-style-iw div {
    width: 100% !important;
    max-width: 100% !important;
    text-align: center;
    overflow: hidden !important;
}

#lb-gmaps-marker-contaier {
    margin-bottom: 10px;
}
#lb-gmaps-marker-contaier #lb-gmaps-marker-name {
    font-family: 'Open Sans Condensed', sans-serif;
    width: 100% !important;
    word-wrap: break-word;
    padding: 5px 0;
    background-color: #417DF1;
    color: white;
    margin: 0;
    border-radius: 2px 2px 0 0;
}
#lb-gmaps-marker-contaier #lb-gmaps-marker-description{
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    padding: 0;
    width: 100% !important;
    word-wrap: break-word;
    margin-right: 1px;
    max-height: 140px;
    overflow-y: auto !important;
    overflow-x: hidden !important;
}

#lb-gmaps-marker-contaier #lb-gmaps-marker-name p {
    font-size: 16px;
    margin: 0;
}

#lb-gmaps-marker-contaier #lb-gmaps-marker-description::-webkit-scrollbar {
    width: 0;
    background: transparent; /* make scrollbar transparent */
}

#lb-gmaps-marker-gradient {
    position: absolute;
    width: 100%;
    height: 25px;
    bottom: 10px;
    right: 18px;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

#edit-lb-gmaps-marker {
    left: 5px;
}
#delete-lb-gmaps-marker {
    right: 5px;
}

#edit-lb-gmaps-marker,
#delete-lb-gmaps-marker {
    position: absolute;
    bottom: 0;
    margin: 0;
}

#edit-lb-gmaps-marker:hover,
#delete-lb-gmaps-marker:hover {
    cursor: pointer;
    color: #417DF1;
}
